<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
<head>
	<meta charset="UTF-8">
	<title>MSOApp - Accueil</title>
</head>
<body>
	<h1>MSO Home Library</h1>
	<div>
		
         <h4>Espace de recherche</h4>
    
         <form th:object="${dossier}" th:action="@{/SearchDossier}" method="get">
       		      
			<table border="1">
            <tr>
               <th>Numéro de classeur</th>
               <th>Libelle document</th>
               <th>Domaine</th>
            </tr>
            <tr>
               <td><input id="txtSearchClasseur" name="keywordClasseur" type="text" placeholder="Numéro recherché"></td>
               <td><input id="txtSearchLibelle" name="keywordLibelle" type="text" placeholder="Nom du document"></td>
               <td><input id="txtSearchDomaine" name="keywordDomaine" type="text" placeholder="BTP,ASST,EPOT,GC"></td>
               <td><button type="submit">Rechercher</button></td>
            </tr>
         </table> 
         </form>        
         
         <form th:action="@{/AddNewDossier}" method="get">         
         	<button type="submit">Nouveau Dossier</button>
         </form>
         
         <form th:action="@{/ModifyDoc}" method="get">         
         	<button type="submit">Modifier un dossier</button>
         </form>
         
         <table border="1">
            <tr>
               <th>Numéro de classeur</th>
               <th>Libelle document</th>
               <th>Image</th>
               <th>Domaine</th>
            </tr>
            <tr th:each ="dossier : ${dossiers}">
               <td th:utext="${dossier.numClasseur}">...</td>
               <td th:utext="${dossier.libelle}">...</td>
               <td><img alt="okk" src="~/img/1.JPG"></td>
               <!-- <td th:utext="${dossier.photo}">...</td>-->
               <td th:utext="${dossier.domaine}">...</td>
            </tr>
         </table>
      </div>
</body>
</html>